*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    
}

.imagebar{
    background-image: url('image.jpg');
    width: 40vw;
    height: 100vh;
    background-size: cover;
    text-align: center;
    position: relative;
}

.imgcred{
    position: absolute;
    bottom: 11%;
    left: 0;
    color:black;
    width: 100%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    opacity: 0.7;
    font-size: 30px;
    font-weight: bolder;
}
.logo
{
    margin-top: 20vh;
    height: 10vh;
    background-color: rgba(0,0,0, 0.5);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 20px;
}

.logo img{
    height: inherit;
    width: auto;
}
.formbar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 4vh;
    padding-right: 4vh;
}

.formprompt{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 28px;
    padding-bottom: auto;
    flex-grow: 1;
}
.forminfobar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.formcol{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
}

form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.formitem{
    display: flex;
    flex-direction: column;
}

input{
    appearance: none;
    border: 1px solid black;
}

input:focus{
    appearance: none;
    background-color: lightblue;
    border: none;
}
.submitbutton{
    height: 5vh;
    width: 12vh;
    margin-top: 2vh;
    color: aliceblue;
    background-color: brown;
    border: none;
    border-radius: 5%;
}

.bottomrow{
    flex-grow: 1;
}

a{
    all: unset;
}